body {
  font-family: "Roboto", sans-serif;
  background-color: #e7e9fc;
}
ul,
li {
  list-style-type: none;
}
span {
  color: #4d5ae5;
}
h1 {
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
button {
  cursor: pointer;
}
/* Heder */

header a {
  text-decoration: none;
}
.logo {
  font-family: "Raleway";
  color: #2e2f42;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.1;
  letter-spacing: -0.03em;
}
.nav-menu-link a {
  color: #2e2f42;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.nav-menu-link a:hover,
.nav-menu-link a:focus {
  color: #404bbf;
}
.contact-adress a {
  color: #434455;
  font-style: normal;
  font-size: 14px;
}
.contact-adress a:hover,
.contact-adress a:focus {
  color: #404bbf;
}

/**/
.effect-solutions {
  background-color: #2e2f42;
}
.btn-order {
  background-color: #4d5ae5;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.features-list h3 {
  color: #2e2f42;
}
.features-list p {
  color: #434455;
}

.team-des li {
  background-color: #f4f4fd;
}
.team h2 {
  color: #2e2f42;
}
.team h3 {
  text-align: center;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.team p {
  text-align: center;
  color: #434455;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.portfolio-list h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.portfolio-list p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.portfolio h2 {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway";
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
footer p {
  color: #f4f4fd;
  font-size: 14px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
