body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.16667;
}
/* #region Header */

.header-log {
  color: #2e2f42;
}
.header-log span {
  color: #4d5ae5;
}
.nav-menu {
  text-decoration: none;
}
.nav-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link {
  color: #2e2f42;
}
.link:hover {
  font-weight: 500;
  font-size: 16px;
  color: #404bbf;
}
.link:active {
  color: #404bbf;
}
.list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.list:focus {
  color: #404bbf;
}
.list:hover {
  color: #404bbf;
}
/* #endregion */
/* #region Effect Solutions */
.effect-solutions {
  background-color: #2e2f42;
}
.ef-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
}
.btn-order {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: white;
}
.btn-order:focus {
  background-color: #404bbf;
}
.btn-order:hover {
  background-color: #404bbf;
}
/* #endregion */
/* #region Our Features */
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */
/* #region Team */
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list {
  background-color: white;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* #engregion */
/* #region Portfolio */
.port-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list {
  background-color: white;
}

.port-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.port-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */
/* #region Footer */
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #f4f4fd;
}
.footer-logo span {
  color: #4d5ae5;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion */
